.index {
    display: block;
    grid-area: index;
    background-color: black;
  }
  .index-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 35px 27px 27px 27px;
  }
  
  //*--------------------------------------
  
  @media(min-width:1024px){
    .index{
      max-height: 100vh;
    }
  }
  