.total-info{
    &__container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 20px;
        line-height: 10px;
    }
    &__model{ 
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 15px;
    }
    &__number{
        margin-bottom: 2px;
        display: inline-block;
        width: max-content; 
        padding: 4px 8px;
        border-radius: 4px;
        border: 1px solid grey;
        font-size: 14px;
        font-weight: 300;
    }
    &__fuel{
        font-size: 14px;
        margin-bottom: 2px;
        font-weight: 300;
        span{
            font-weight: 700;
        }
    }

    &__img{
        z-index: 2;
        display: inline-block;
        position: relative;
    }

    &__date{
        font-size: 14px;
        font-weight: 300;
        span{
            font-weight: 700;
        }
    }
}

.total-main {
    max-width: 864px;
    flex: 1 1;
    &__two {
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0 auto;
      min-width: 100%;
    }
  }
  
  @media (min-width: 768px) {
    .total-main {
      &__two {
        flex-direction: row;
      }
    }
  }
  
  @media (min-width: 1440px) {
    .total-main {
      &__two {
        min-width: 100%;
      }
    }
  }