.buy{
  &.state {
    &:not(:last-child)::after {
      border: 3px solid transparent; 
      border-left: 4px solid grey;
    }

    pointer-events: none;
    & .state-li__link {
      color: grey;
    }
  }
}

input[type='radio'],
label {
  cursor: pointer;
}

input[type='radio'] {
  position: relative;
  height: 22px;
  width: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type='radio']::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid rgb(7, 158, 20);
}

input[type='radio']:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(19, 175, 5);
  transform: translate(-50%, -50%);
  visibility: visible;
}


.Options{
  margin-top: 35px;
}

.options-addons {
    &__heading {
      display: block;
      margin-bottom: 16px;
      margin: 0;
    }

    &__list{
      padding: 0px;
    }

    &__item {
      display: flex;
      align-items: center; 
      vertical-align: 5px;
      padding: 0px;
      &:not(:last-child) {
        margin-bottom: 8px;
      }
      input[type='checkbox']{
        margin-top: 5px;
      }
    }
  }

  .options-date-rent {
    margin-bottom: 32px;
    &__container { 
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: max-content;
    }
    &__heading {
      margin-bottom: 16px;
    }
    &__form{
      display: flex;
    } 
    &__forms{
      margin-left: 10px;
    }
    &__input {
      outline: none;
      min-width: 180px;
      width: 60%;
      border: 0;
      border-bottom: 1px solid #999999;
      margin-left: 8px;
      padding-right: 0px; 
    }
    &__input::-webkit-calendar-picker-indicator {
      display: none;
    } 
  }

  .options-color {
    margin-top: 30px;
    margin-bottom: 26px;
    cursor: pointer;  
    &__heading {
      display: block;
      margin-bottom: 16px;
    }
    &__list {
      display: flex;
    }
    &__item {
      vertical-align: 5px;
      margin-left: 5px;
      font-size: 17px;
      color: rgb(2, 2, 2);
      &:hover{
        color: rgb(28, 106, 28);
        transition: 1s;
      }
    } 
  }

  .options-rate{
    margin-bottom: 32px;
    &__heading{
        margin-bottom: 16px;
        display: block;
    }

    &__list{
      padding:0px;
      vertical-align: 5px;
    }

    &__item{
      cursor: pointer;
      font-size: 17px;
      vertical-align: 5px;
      color: rgb(2, 2, 2);
      &:hover{
        color: rgb(28, 106, 28);
        transition: 1s;
      }
    }
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-radio+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-radio+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70% 70%;
}
.custom-radio:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}
.custom-radio:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #2df15e;
}
.custom-radio:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(13, 225, 87, 0.25);
}
.custom-radio:focus:not(:checked)+label::before {
  border-color: #43ee4b;
}
.custom-radio:checked+label::before {
  border-color: #0bef31;
  background-color: #0bef1e;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.custom-radio:disabled+label::before {
  background-color: #e9ecef;
}

@media(min-width: 1024px){
    .options-rate{
        &__item{
            font-size: 14px;
        }
    }
}
  
  @media(min-width: 1024px){
    .options-color{
      &__item{
        font-size: 14px;
      }
    }
  }

  
  @media (min-width: 768px) {
    .options-addons {
      label {
        font-size: 14px;
      }
    }
  }