.index {
    display: none;
  }
  .index-two {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 93%;
    padding: 30px 23px 23px 23px;
  }
   
  //*--------------------------------------

  


  @media(min-width: 768px){ 
    .index {
      display:block;
      max-height: 100%;
      background-color: rgb(8, 8, 8); 
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100vh;
      width: 60px
    }
  }
  