.myapps {
  display: grid;
  grid-template-areas: "aside main";
  grid-template-rows: 1fr;
  grid-template-columns: 0px 1fr;
  min-height: 100vh;
}


@media (min-width: 768px) {
  .myapps {
    grid-template-columns: 85px 1fr;
  }
}


@media (min-width: 1024px) {
  .my-apps {
    grid-template-columns: 65px 1fr;
    max-height: 100vh;
    overflow: hidden;
  }
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
