.language {
    width: 47px;
    height: 47px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s all;
    &:hover {
      border: 1px solid rgb(88, 117, 88);
      color: rgb(34, 225, 34);
      transition: 1s all;
    }
  
    &:active {
      .language__a { 
        color: rgb(68, 168, 68);
        transition: 1s all;
      }
    }
    &__a {
      color: rgb(71, 168, 71);
      text-decoration: none;
      transition: 1s all;
    }
    &--navigation {
      margin: 28px;
    }
  } 
  
  //*------------------------------------
  
  @media (min-width: 768px) {
    .language {
      &--navigation {
        display: none;
      }
    }
  }
  