.language {
    width: 47px;
    height: 47px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all;
    &:hover {
      color: green;
      transition: 0.2s all;
    }
  
    &:active {
      .language__a { 
        color: green;
        transition: 0.2s all;
      }
    }
    &__a {
      color: green;
      text-decoration: none;
      transition: 0.2s all;
    }
    &--navigation {
      margin: 28px;
    }
  }
  
  //*------------------------------------
  
  @media (min-width: 768px) {
    .language {
      &--navigation {
        display: none;
      }
    }
  }
  