.header {
  position: relative;
  z-index: auto;
  margin-top: 16px;
  &__two {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
    height: fit-content;
  }
  &__three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__a {
    margin-bottom: 8px;
    font-size: 30px;
    color: #0ec261;
    font-weight: 700;
    text-decoration: none;
  } 
}

.map {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &__img {
    width: 17px;
    height: 21px;
    margin-right: 8px; 
  }
  &__text {
    color: #999;
    font-size: 14px;
  }
}



//*--------------------------------------

@media (min-width: 768px) {
  .header {
    margin-top: 28px;
    &__two {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-right: 32px;
      padding-left: 32px;
    }
    &__a {
      margin-bottom: 0;
    }
  }
}

//*--------------------------------------

@media (min-width: 1440px) {
  .header {
    &__two {
      padding-right: 64px;
      padding-left: 64px;
    }
  }
}
